black==24.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
idna==3.10
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
process_brokerage_data @ file:///Users/mothership/Documents/_Development/data-science/process_brokerage_data
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
urllib3==2.2.3
websockets==13.1
